name: Build Android APK

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm install

      - name: Build Web Assets
        run: npm run build



      - name: Sync Capacitor
        run: npx cap sync

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
           gradle-version: '8.14.3'

      - name: Build Android APK
        run: |
          cd android
          gradle assembleDebug --stacktrace

      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: foshuo-debug.apk
          path: android/app/build/outputs/apk/debug/app-debug.apk
